<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.bytesangels.locinvest"
	version 	= "1.0.0">

	<name>locinvest</name>

	<description>
		Simulateur de rentabilit&eacute locative
	</description>

	<author href="http:www.bytesangels.com"
		email="god@bytesangels.com">
		Jean Sahler
	</author>

	<icon src="icon.png" gap:role="default" />

	<preference name="orientation" value="portrait" />
</widget>
